Repository Open-HEMS/pvcast: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-yaml, mypy, prettier, pylint, pytest, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-ast
        name: 🐍 Check Python AST
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: 🔠 Check for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: ℹ️  Check docstring is first
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: 🧐 Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: check-symlinks
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: check-toml
      - id: check-xml
        name: ✅ Check XML files
        entry: check-xml
        language: system
        types: [xml]
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: check-yaml
      - id: codespell
        name: ✅ Check code for common misspellings
        language: system
        types: [text]
        entry: codespell
      - id: detect-private-key
        name: 🕵️  Detect Private Keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [commit, push, manual]
      - id: mypy
        name: 🆎 Static type checking using mypy
        language: system
        types: [python]
        entry: mypy
        require_serial: true
      - id: prettier
        name: 💄 Ensuring files are prettier
        language: system
        types: [yaml, json, markdown]
        entry: npm run prettier
        pass_filenames: false
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: pylint
      - id: pytest
        name: 🧪 Running tests and test coverage with pytest
        language: system
        types: [python]
        entry: pytest -n auto
        pass_filenames: false
        stages: [push, manual]
      - id: trailing-whitespace
        name: ✄  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [commit, push, manual]
      - id: yamllint
        name: 🎗  Check YAML files with yamllint
        language: system
        types: [yaml]
        entry: yamllint

Fix all pylint errors
  README.md
  poetry.lock
  pvcast/config/configreader.py
  pvcast/homeassistant/homeassistantapi.py
  pvcast/model/forecasting.py
  pvcast/model/model.py
  pvcast/util/units.py
  pvcast/weather/homeassistant.py
  pvcast/weather/weather.py
  pvcast/webserver/routers/clearsky.py
  pvcast/webserver/routers/dependencies.py
  pvcast/webserver/routers/helpers.py
  pvcast/webserver/routers/historical.py
  pvcast/webserver/routers/live.py
  pyproject.toml
  tests/conftest.py
  tests/unit/configreader/test_configreader.py
  tests/unit/homeassistant/test_hass_api_unit.py
  tests/unit/model/test_forecasting.py
  tests/unit/model/test_model.py
  tests/unit/util/test_units.py
  tests/unit/weather/test_weather.py
  tests/unit/weather/test_weather_platform.py
  tests/unit/webserver/test_webserver.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, mypy, pylint, pytest

Fix all ruff linting errors
  pvcast/__init__.py
  pvcast/config/__init__.py
  pvcast/config/configreader.py
  pvcast/homeassistant/__init__.py
  pvcast/model/__init__.py
  pvcast/model/model.py
  pvcast/util/__init__.py
  pvcast/webserver/__init__.py
  pvcast/webserver/const.py
  pvcast/webserver/models/__init__.py
  pvcast/webserver/routers/__init__.py
  pvcast/webserver/routers/dependencies.py
  pyproject.toml
  scripts/cec_devices.py
  scripts/merge_dev_libs.py
  tests/__init__.py
  tests/conftest.py
  tests/const.py
  tests/unit/__init__.py
  tests/unit/configreader/__init__.py
  tests/unit/homeassistant/__init__.py
  tests/unit/model/__init__.py
  tests/unit/util/__init__.py
  tests/unit/weather/__init__.py
  tests/unit/webserver/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, mypy, pylint, pytest

Delete .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Due: check-yaml, yamllint

Update codeql.yaml
  .github/workflows/codeql.yaml
Due: check-yaml, yamllint

Fix trailing whitespace in codeql.yaml
  .github/workflows/codeql.yaml
Due: check-yaml, yamllint

Set START_DT_DEFAULT to 00:00:00
  pvcast/webserver/const.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Update release.yaml
  .github/workflows/release.yaml
Due: check-yaml, yamllint

Add favicon
  pvcast/webserver/app.py
  pvcast/webserver/const.py
  pvcast/webserver/static/favicon.png
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Move httpx and types-pyyaml to dev dependencies
  pyproject.toml
Due: check-toml

Update poetry.lock
  poetry.lock
Due: none

Fix issue with favicon
  tests/unit/webserver/test_webserver.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Fix issue where get_weather would fail with one weather row
  pvcast/weather/weather.py
  tests/unit/weather/test_weather.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Add commandline options
  pvcast/__main__.py
  pvcast/commandline/__init__.py
  pvcast/commandline/commandline.py
  pvcast/const.py
  pvcast/homeassistant/homeassistantapi.py
  pvcast/webserver/const.py
  pvcast/webserver/routers/dependencies.py
  pvcast/webserver/routers/live.py
  tests/commandline/__init__.py
  tests/commandline/test_commandline.py
  tests/unit/webserver/test_webserver.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Move watchfiles to dev dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

Update README.md
  README.md
Due: none

Add discord link to README.md
  README.md
Due: none

Fix line endings in README.md
  README.md
Due: none

Replace polars with polars_lts_cpu
  poetry.lock
  pyproject.toml
Due: check-toml

Update file paths and imports in webserver
  pvcast/model/const.py
  pvcast/webserver/app.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Update logging module
  pvcast/__main__.py
  pvcast/const.py
  pvcast/webserver/routers/dependencies.py
  pvcast/webserver/routers/helpers.py
  pvcast/webserver/routers/live.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Fix initialization issues related to env variables
  .gitignore
  pvcast/__main__.py
  pvcast/commandline/commandline.py
  pvcast/config/configreader.py
  pvcast/const.py
  pvcast/webserver/routers/dependencies.py
  tests/commandline/test_commandline.py
  tests/conftest.py
  tests/data/config.yaml
  tests/data/secrets.yaml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-yaml, mypy, pylint, pytest, yamllint

Update polars-lts-cpu to 0.20.6
  poetry.lock
  pvcast/weather/weather.py
  pyproject.toml
  tests/unit/weather/test_weather.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, mypy, pylint, pytest

Update swagger favicon URL
  poetry.lock
  pvcast/webserver/app.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Add solara dependency
  poetry.lock
  pyproject.toml
Due: check-toml

Add pvcast-frontend support
  .gitignore
  pvcast/__main__.py
  pvcast/const.py
  pvcast/webserver/app.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Add unit tests for solara mounting
  tests/commandline/test_commandline.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Add unit tests for solara mounting
  tests/unit/webserver/test_webserver.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Update base config.yaml
  config.yaml
  tests/unit/test_secrets.yaml
Due: check-yaml, yamllint

Update ConfigReader to validate tilt, azimuth, modules_per_string, and strings values
  pvcast/config/configreader.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Set LRU max cache size to 1
  pvcast/webserver/routers/dependencies.py
  pvcast/webserver/routers/helpers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Add support for GHI column in weather data input
  pvcast/weather/weather.py
  pvcast/webserver/routers/live.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest
