Repository Open-HEMS/pvcast: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-yaml, mypy, prettier, pylint, pytest, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-ast
        name: 🐍 Check Python AST
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: 🔠 Check for case conflicts
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: ℹ️  Check docstring is first
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: 🧐 Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: check-symlinks
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: check-toml
      - id: check-xml
        name: ✅ Check XML files
        entry: check-xml
        language: system
        types: [xml]
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: check-yaml
      - id: codespell
        name: ✅ Check code for common misspellings
        language: system
        types: [text]
        entry: codespell
      - id: detect-private-key
        name: 🕵️  Detect Private Keys
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [commit, push, manual]
      - id: mypy
        name: 🆎 Static type checking using mypy
        language: system
        types: [python]
        entry: mypy
        require_serial: true
      - id: prettier
        name: 💄 Ensuring files are prettier
        language: system
        types: [yaml, json, markdown]
        entry: npm run prettier
        pass_filenames: false
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: pylint
      - id: pytest
        name: 🧪 Running tests and test coverage with pytest
        language: system
        types: [python]
        entry: pytest -n auto
        pass_filenames: false
        stages: [push, manual]
      - id: trailing-whitespace
        name: ✄  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [commit, push, manual]
      - id: yamllint
        name: 🎗  Check YAML files with yamllint
        language: system
        types: [yaml]
        entry: yamllint

Add issue templates and renovate configuration
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labels.yml
  .github/renovate.json
Due: check-json, check-yaml, yamllint

Add GitHub workflows for locking closed issues and PRs, releasing drafts, CodeQL analysis, label synchronization, PR label verification, typing checks, and stale issue/PR cleanup.
  .codespell-ignore
  .github/workflows/codecov.yml
  .github/workflows/codeql.yaml
  .github/workflows/labels.yaml
  .github/workflows/linting.yaml
  .github/workflows/lock.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
  .github/workflows/stale.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  .pre-commit-config.yaml
Due: check-yaml, yamllint

Fix import and type hinting in base.py
  pvcast/webserver/models/base.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Update Poetry installation command
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
Due: check-yaml, yamllint

Update cache to pip in workflow files
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
Due: check-yaml, yamllint

Remove --no-cache-dir from pip installation in Dockerfile
  .devcontainer/Dockerfile
Due: none

Update Poetry installation to use pipx
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
Due: check-yaml, yamllint

Update dependency management with Poetry
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
Due: check-yaml, yamllint

Enable Git LFS in GitHub Actions workflows
  .github/workflows/codeql.yaml
  .github/workflows/labels.yaml
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
Due: check-yaml, yamllint

Refactor code and fix formatting issues
  pvcast/homeassistant/homeassistantapi.py
  pvcast/model/forecasting.py
  pvcast/model/model.py
  pvcast/weather/clearoutside.py
  pvcast/weather/homeassistant.py
  pvcast/weather/weather.py
  pvcast/webserver/routers/clearsky.py
  pvcast/webserver/routers/helpers.py
  pvcast/webserver/routers/live.py
  scripts/merge_dev_libs.py
  tests/conftest.py
  tests/unit/model/test_forecasting.py
  tests/unit/weather/test_weather.py
  tests/unit/weather/test_weather_platform.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Ignore .vscode folder
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
Due: check-json

Exclude data files from pre-commit, remove pytest from pre-commit (because it is too slow)
  .pre-commit-config.yaml
Due: check-yaml, yamllint

Fix typos and update model attribute constants
  .codespell-ignore
  pvcast/model/const.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Remove duplicate ms-python.black-formatter from devcontainer.json
  .devcontainer/devcontainer.json
Due: check-json

Add YAML front matter to secrets file
  tests/unit/test_secrets.yaml
Due: check-yaml, yamllint

Linting
  tests/conftest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Add .ipynb file type to linguist-documentation
  .gitattributes
Due: none

Add tests for PVGIS historical data API calls
  pvcast/homeassistant/__init__.py
  pvcast/model/forecasting.py
  tests/data/pvgis_out.csv
  tests/data/pvgis_out.txt
  tests/unit/model/test_forecasting.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Add omit configuration for homeassistantapi.py in coverage report
  pyproject.toml
Due: check-toml

Move clearoutside.txt to tests/data
  tests/conftest.py
  tests/data/clearoutside.txt
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Improving code quality
  pvcast/homeassistant/homeassistantapi.py
  tests/unit/homeassistant/test_hass_api_unit.py
  tests/unit/model/test_model.py
  tests/unit/weather/test_weather_platform.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Add Ruff test rules to ruff.toml
  tests/ruff.toml
Due: check-toml

Clean up clearoutside api
  pvcast/weather/clearoutside.py
  tests/conftest.py
  tests/unit/weather/test_weather_platform.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Update pyproject.toml to omit additional files from coverage
  pyproject.toml
Due: check-toml

Rework most unit tests
  pvcast/util/timestamps.py
  pvcast/util/units.py
  pvcast/weather/clearoutside.py
  pvcast/weather/homeassistant.py
  pvcast/weather/weather.py
  tests/conftest.py
  tests/unit/util/__init__.py
  tests/unit/util/test_timestamps.py
  tests/unit/util/test_units.py
  tests/unit/weather/test_weather.py
  tests/unit/weather/test_weather_platform.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Add blacken-docs package and update content-hash in poetry.lock
  poetry.lock
Due: none

Add blacken-docs dependency
  pyproject.toml
Due: check-toml

Add httpx and watchfiles dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

Overhaul for unit tests
  tests/conftest.py
  tests/ruff.toml
  tests/unit/configreader/conftest.py
  tests/unit/configreader/test_configreader.py
  tests/unit/weather/conftest.py
  tests/unit/weather/test_weather.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, mypy, pylint, pytest

Add unit tests for the webserver
  pvcast/webserver/models/base.py
  pvcast/webserver/models/live.py
  pvcast/webserver/routers/clearsky.py
  pvcast/webserver/routers/helpers.py
  tests/unit/configreader/test_configreader.py
  tests/unit/webserver/__init__.py
  tests/unit/webserver/conftest.py
  tests/unit/webserver/test_webserver.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Add new PV system configuration to tests/conftest.py and update client_weather fixture in tests/unit/webserver/conftest.py
  tests/conftest.py
  tests/unit/webserver/conftest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Fix concurrency issue with configreader
  pvcast/webserver/routers/dependencies.py
  tests/unit/webserver/conftest.py
  tests/unit/webserver/test_webserver.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Create secrets.yaml via hook
  pvcast/const.py
  pvcast/webserver/routers/dependencies.py
  tests/conftest.py
  tests/unit/webserver/test_webserver.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Fix some issues with forecasting
  pvcast/__main__.py
  pvcast/weather/weather.py
  pvcast/webserver/app.py
  pvcast/webserver/routers/utils.py
  tests/conftest.py
  tests/const.py
  tests/unit/weather/conftest.py
  tests/unit/webserver/conftest.py
  tests/unit/webserver/test_webserver.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Update .gitignore and favicon
  .gitignore
  pvcast/webserver/app.py
  pvcast/webserver/favicon.png
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Rework API
  pvcast/webserver/const.py
  pvcast/webserver/models/base.py
  pvcast/webserver/routers/clearsky.py
  pvcast/webserver/routers/historical.py
  pvcast/webserver/routers/live.py
  pyproject.toml
  tests/unit/webserver/conftest.py
  tests/unit/webserver/test_webserver.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, mypy, pylint, pytest

Rework YAML loading
  .pre-commit-config.yaml
  pvcast/config/configreader.py
  tests/unit/configreader/test_configreader.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-yaml, mypy, pylint, pytest, yamllint

Reach 100% test coverage
  pvcast/model/model.py
  pvcast/webserver/routers/helpers.py
  pvcast/webserver/routers/historical.py
  pvcast/webserver/routers/live.py
  tests/unit/webserver/test_helpers.py
  tests/unit/webserver/test_webserver.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, mypy, pylint, pytest

Update README.md
  README.md
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: check-yaml, yamllint
